Bahamas20.csv
Carolinian20.csv
ChiapasNicaragua20.csv
Cortezian20.csv
Floridian20.csv
GreaterAntilles20.csv
GulfofMaineBayFundy20.csv
MagdalenaTransition20.csv
MexicanTropicPacific20.csv
Nicoya20.csv
NorthGoM20.csv
NorthernCalifornia20.csv
OregonWashingtonVancouverCoast20.csv
PanamaBight20.csv
PugetTroughGeorgiaBasin20.csv
SouthGoM20.csv
SouthernCaliforniaBight20.csv
SouthwestCaribbean20.csv
