Aves_20perc.xlsx
Cortezian20.xlsx
Aves_20perc.csv
Aves_20perc_updated.xlsx
Bahamas20.xlsx
Carolinian20.xlsx
Floridian20.xlsx
GreaterAntilles20.xlsx
ChiapasNicaragua20.xlsx
GulfofMaineBayFundy20.xlsx
MagdalenaTransition20.xlsx
MexicanTropicPacific20.xlsx
Nicoya20.xlsx
NorthernCalifornia20.xlsx
NorthGoM20.xlsx
OregonWashingtonVancouverCoast20.xlsx
PanamaBight20.xlsx
PugetTroughGeorgiaBasin20.xlsx
SouthernCaliforniaBight20.xlsx
SouthwestCaribbean20.xlsx
families.csv
SouthGoM20.xlsx
